<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AquiExpress</title>
    <link rel="icon" href="../assets/images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
<header>
  <div class="logo-fixed">
    <a href="index.php" style="display: flex; align-items: center; text-decoration: none;">
      <img src="../assets/images/logo.png" alt="Logo da Loja">
    </a>
  </div>
</header>
<div class="row">
    <a href="fornecedor_listar.php" class="btn-aliexpress">
        Fornecedores
    </a>
</div>
<div class="row">
    <a href="usuario_listar.php" class="btn-aliexpress">
        Usuários
    </a>
</div>

<div class="row">
    <a href="produto_listar.php" class="btn-aliexpress">
        Produtos
    </a>
</div>
<div class="row">
    <a href="estoque_listar.php" class="btn-aliexpress">
        Gerenciar Estoque
    </a>
</div>


</body>
</html>